@import url('https://fonts.googleapis.com/css?family=Roboto:900&display=swap');

@keyframes expandHover {
    from {
        background-color: #FFFFFF;
    }
    to {
        background-color: #FFD000;
    }

  }

#dashboard-overview{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    margin: 10px;
}
.pie-chart{
    background: #FFFFFF;
    box-shadow: 5px 5px 10px 5px #dddddd;
    margin-bottom: 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
        justify-content: center;
}
.chart-layout{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.chart-title{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 18pt;
    background: #FFFFFF;
    border-radius: 5px 5px 0 0;
}
.main-chart-div{
    width: 40%;
    margin: 0 0 0 0;
}
.main-table-div{
    width: 100%;
}
.data-table{
    margin-top: 10px;
    max-width: 100%;
    height: 800px;
    max-height: 800px;
}
.counter{
    background: #FFFFFF;
    width: 150px;
    box-shadow: 5px 5px 10px 5px #eeeeee;
    text-align: center;
    margin-bottom: 10px;
}
.counter-num{
    height: 100px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Roboto';
    color:#06748C;
    border-radius: 5px;
}

#all-counters{
    margin: 150px 0 150px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 600px;
}
#pie-table{
    width: 100%;
    height: 436px;
    overflow-y: scroll;
    background: #FFFFFF;
    box-shadow: 5px 5px 10px 5px #dddddd;
    margin: 20px 0 0 0;
    border-radius: 5px;

}
#pie-table-headers{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px 15% 10px 15%;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 16pt;
    margin-bottom: 10px;
    color: #000000;

}
.base-table-content{
    display: flex;
    flex-direction: row;
    padding: 3px 1% 3px 5%;
    justify-content: space-between;
    align-items: center;

}
.row-item{
    width: 300px;
}
.expand-icon{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.expand-icon:hover{
    animation-name: expandHover;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.additional-data-header{
    padding: 0px 10px 0 0;
    font-weight: bold;
    text-align: right;
    width: 100px;
}
.additional-data-table{
    margin-bottom: 30px;
}
.connTable{
    width: 100%;
}
.additional-data{
    padding: 30px 50px 30px 50px;
    background: #F5F5F5;
    color: #000000;
}
.selected-row{
    background: #FFD000;
    color: #1A1446;
    font-weight: bold;
}
.connTable-headers{
    border-bottom: 1px solid #000000;

}
.connTable-headers th {
    font-weight: 600;
}
#stacked-charts{
    display: flex;
    flex-direction: column;
}