@import url('https://fonts.googleapis.com/css?family=Roboto:100,300&display=swap');

body {
    padding-top: 100px;
    background: #F5F5F5 !important;
    height: 100vh;
}

/* ---------- Page Structure Styles ---------- */
.page-title{
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 36px;
    text-align: center;
}
.page-content{
    margin-top: -50px;
}

.tab-content{
    margin-top: 10px;
}

.tab-title{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 28px;
    margin: 0 0 10px 10px;
}
.additional-data{
    padding: 10px 30px 30px 30px;
}

/* ---------- Error Message Styles ---------- */
.error{
    display: flex;
    flex-direction: row;
    justify-content:  center;
}
.error div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #AA0000;
    padding: 10px;
    width: 65vw;
    color: #FFFFFF;
    font-weight: 600;
    box-shadow: 5px 5px 10px #999999;
}
.error a {
    color: #FFFFFF;
    text-decoration: underline;
}
.error a:hover{
    color: #CCCCCC;
}
.error .icon{
    margin-right: 20px;
}